<ul class="nav author-nav">
  <li class="author-name">
    <span>Ирина Нешева</span>
    <a class="add-favorite" href="#1">Добавить в избранное</a>
  </li>
  <li>
    <a class="active" href="#2">Работы</a>
    <ul>
      <li>
        <a href="#1">Серия и описание</a>
      </li>
      <li>
        <a href="#2">Список серий</a>
      </li>
      <li>
        <a href="#3">Без серий</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="#3">Об авторе</a>
    <ul>
      <li>
        <a href="#1">Статистика автора</a>
      </li>
    </ul>
  </li>
</ul>