<div id="sidebar">
  <ul>
    <li>
      <a href="#1">Техника</a>
    </li>
    <li>
      <a href="#2">Раздел</a>
    </li>
    <li>
      <%= link_to 'Авторы', users_path %>
    </li>
    <li>
      <a href="#4">Подборка</a>
    </li>
    <li>
      <a href="#5">Ширина</a>
    </li>
    <li>
      <a href="#6">Формат</a>
    </li>
    <li>
      <a href="#7">Интерьер</a>
    </li>
    <li>
      <a href="#8">Интерьер</a>
    </li>
    <li>
      <a href="#9">Цвет</a>
    </li>
    <li>
      <a href="#10">Цена</a>
    </li>
    <li>
      <a href="#11">Сортировка</a>
    </li>
  </ul>
</div>