<ul class="nav">
  <li class>
    <span>Магазин</span>
    <ul>
      <li class>
        <a href="#2">Акции</a>
      </li>
      <li class>
        <a href="#3">Карзина</a>
      </li>
    </ul>
  </li>

  <li class>
    <%= link_to t('news.news'), news_index_path %>
  </li>

  <li class>
    <a href="#3">О проекте</a>
    <ul>
      <li>

      </li>
      <li>

      </li>
      <li>

      </li>
      <li>

      </li>
    </ul>
  </li>
</ul>