<div class="container">
  <div>
    <h3><div class="back-line">Назначение ролей пользователям</div></h3>
    <ul>
      <li><%= link_to 'Роли пользователей', users_roles_path %></li>
    </ul>
  </div>
</div>