<div class="container">
  <ul class="gallery">
    <li>
      <a href="#1">
        <img src="i/_tmp/pic-01.jpg" alt="123" />
      </a>
						<span class="info">
							<a class="author">Ирина Нешева</a>
							<span class="price">1000 р.</span>
							<span class="title">Без названия</span>
						</span>
    </li>
  </ul>
</div>