<div class="links">
  <span class="label">Без регистрации Вы можете поделиться ссылкой на работу с друзьями:</span>
  <ul>
    <li class="fb">
      <a href="http://www.facebook.com">facebook</a>
    </li>
    <li class="vk">
      <a href="http://vk.com">vkontakte</a>
    </li>
    <li class="gp">
      <a href="http://plus.google.com">google+</a>
    </li>
    <li class="ok">
      <a href="http://odnoklassniki.ru">odnoklassniki</a>
    </li>
    <li class="pin">
      <a href="#">odnoklassniki</a>
    </li>
    <li class="tw">
      <a href="http://twitter.com">twitter</a>
    </li>
  </ul>
</div>